#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #555;
  background-color: #fofofo;
}

