#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #555;
  background-color: #fofofo;
}

#header_margin {
  padding: 0px;
  margin: 90px;
}

#title_text {
  margin-right: 30px;
}

#download_button {
  transition: transform 1s ease;
}

#download_button:hover {
  transform: scale(1.1);
}
