.type_text {
  display: inline-block;
  margin: 0;
  margin-right: 30%;
  user-select: none;
  position: relative;
}

.type_text::after {
  content: '';
  position: absolute;
  top: 0;
  right: -30%;
  width: 0;
  height: 100%;
  border-right: dashed 1px #858585;
}
